footer
	.content
		#authors
			#makio
				.top
					.title Makio
					img(src="/img/global/footer_avatar_makio.jpg", width="200", height="60")
					.citation Bouboup! Freelancer and king of Makiopolis
				.bot
					a.twitter(href="https://twitter.com/makio64", target="_blank")
						.icon
						.name makio64
					a.mail(href="http://makiopolis.com", target="_blank")
						.icon
						.name makiopolis.com
			#floz
				.top
					.title Floz
					img(src="/img/global/footer_avatar_floz.jpg", width="200", height="60")
					.citation Drinking some sex on the beach at Firstborn
				.bot
					a.twitter(href="https://twitter.com/florianzumbrunn", target="_blank")
						.icon
						.name florianzumbrunn
					a.mail(href="http://floz.fr", target="_blank")
						.icon
						.name floz.fr
		#latest_article
			.left
				.title Latest article
				.description.
					After fews gamejams you start to understand : made a good game in 2 days start by a good workflow. Here you are :)
				.infos
					.left
						.date Date: June 2013
						.auto Autor: Makio
					.right
						mixin bt( "READ", "#" )
					.clear 
			.right
				img(src="/img/articles/gamejam-workflow/thumb.jpg", width="181", height="166")



