footer
	.content
		#authors
			#makio
				.top
					.title Makio
					img(src="img/global/footer_avatar_makio.jpg", width="200", height="60")
					.citation Bouboup! Freelancer and king of Makiopolis
				.bot
					a.twitter(href="https://twitter.com/makio64", target="_blank")
						.icon
						.name makio64
					a.mail(href="http://makiopolis.com", target="_blank")
						.icon
						.name makiopolis.com
			#floz
				.top
					.title Floz
					img(src="img/global/footer_avatar_floz.jpg", width="200", height="60")
					.citation Drinking some sex on the beach at Firstborn
				.bot
					a.twitter(href="https://twitter.com/florianzumbrunn", target="_blank")
						.icon
						.name florianzumbrunn
					a.mail(href="http://floz.fr", target="_blank")
						.icon
						.name floz.fr
		#latest_article
			.left
				.title Latest article
				.description.
					I’m a huge fan of Erick Natzke’s work. I’ve alwas wanted to try to replicated his workflow to get inspired. 
					This is my first experiment with, I hope, a long series of tests brushes creation.
				.infos
					.left
						.date Date: June 2009
						.auto Autor: Floz
					.right
						mixin bt( "READ", "#" )
					.clear 
			.right
				img(src="img/articles/exemple_1/thumb_big.jpg", width="181", height="166")



