#weekly_bar
	.title.
		WEEKLY EXPERIMENTS
	ul
		li
			a(href="#")
				img(src="img/weekly/01/thumb.jpg")
		li
			a(href="#")
				img(src="img/weekly/02/thumb.jpg")
		li
			a(href="#")
				img(src="img/weekly/01/thumb.jpg")
		li
			a(href="#")
				img(src="img/weekly/02/thumb.jpg")
		//- li
		//- 	a(href="#")
		//- 		img(src="img/weekly/01/thumb.jpg")
		//- li
		//- 	a(href="#")
		//- 		img(src="img/weekly/02/thumb.jpg")
