html,body{width:100%;height:width}
.title{background-color:#152946;width:100%;height:300px}
h1{color:#fff;text-align:center;font:800 76px/300px 'Lobster';}
h1 .small{font-size:64px;font-family:'Lobster';font-weight:100}
