footer
	position relative
	border-top 5px solid #323232
	margin-top 40px
	height 250px
	font normal 10px "Montserrat"
	.content
		position relative
		width 880px
		margin 0 auto
		overflow hidden
	a
		text-decoration none
		color #000
	.title
		font normal 24px "Squada One"
		margin-bottom 20px
		margin-top 15px
	.twitter, .mail
		display block
	.icon, .name
		display inline-block
	.icon
		margin-right 5px
	.twitter
		width 100%
		.icon
			background transparent url( "../img/global/footer_icon_twitter.png" )
			width 10px
			height 9px
	.mail
		width 100%
		.icon
			background transparent url( "../img/global/bt_arrow_right.png" )
			width 9px
			height 5px

#authors
	overflow hidden
	float left
	padding-right 20px
	height 100%
	border-right 1px solid #e0e0e0
	.bot
		position relative
		width 100%
		margin-top 10px
		margin-bottom 10px
	.citation
		margin-top 20px
		padding-bottom 20px
		color #a4a3a3
		border-bottom 1px solid #e0e0e0

#makio, #floz
	float left
	width 200px

#makio
	margin-right 20px

#latest_article
	float left
	width 400px
	position relative
	overflow hidden
	padding-left 20px
	.title
		border-bottom 1px solid #e0e0e0
		padding-bottom 20px
	&>.left, &>.right
		float left
	&>.left
		width 200px
	&>.right
		width 181px
		height 166px
		margin-top 61px
		margin-left 19px
	.description
		height 115px
	.infos
		height 30px
		.left
			float left
			width 110px
		.right
			float right
			border-left 1px solid #e0e0e0
			padding-left 10px
			margin-top 7px
