body
	background #f7f7f7

#main
	// background-color #ff00ff
	margin auto
	width 760px

.bt
	font normal 10px "Montserrat"
	background-color #323232
	color #fff
	text-decoration none
	padding 10px 12px 10px 10px
	border-radius 5px
	-webkit-border-radius 5px
	-moz-border-radius 5px
	-o-border-radius 5px
	.icon
		display inline-block
		background transparent url( "../img/global/bt_arrow_right.png" )
		width 9px
		height 5px
		margin-right 10px

// facebook fix
div
	.fb_reset
		display inline

.clear
	clear both

