#makioandfloz
	display block
	width 255px
	margin 40px auto
	.bt
		display none
		margin-top 10px
		float right

#logo
	overflow hidden
	border-bottom 1px solid #323232
	color #323232
	text-decoration none
	display block
	padding-bottom 10px
	font normal 52px "Squada One"

#diaporama
	position relative
	margin 50px auto
	width 504px
	height 240px
	font normal 10px "Montserrat"
	.shadow
		position absolute
		background transparent url( "../img/global/home_diaporama_shadow.jpg" )
		width 646px
		height 81px
		bottom -5px
		left -75px
	#slides
		position relative
		height 242px
		background-color #fff
		li
			position absolute
			height 200px
			top 2px
			left 2px
	a
		text-decoration none
		color #323232
		display block
	.content
		background-color #fff
		overflow hidden
		padding 7px 20px
	.left, .right
		float left
	.title
		font-weight bold
		margin-top 7px
	.right
		float right
	nav
		text-align center
		margin-top 20px
		ul
			display inline-block
			overflow hidden
		li
			float left
			margin-right 10px
			&.activated
				a
					background-color 323232
		a
			width 6px
			height 6px
			border-radius 4px
			background-color #e0e0e0

#articles
	width 800px
	margin auto
	overflow hidden
	li
		float left
		width 240px
		height 238px
		background-color #fff
		font normal 10px "Montserrat"
		margin-bottom 20px
		margin-left 20px


	.content
		padding 15px 20px 15px 20px
		border-bottom 1px solid #e0e0e0
	.title
		font-weight bold
		margin-bottom 5px
	.infos
		padding 13px 10px 10px 20px
		overflow hidden
		width 84%
	.left
		float left
	.right
		float right
		border-left 1px solid #e0e0e0
		padding-left 10px
		margin-top 5px


// --------------------------------------------------------------------------- RESPONSIVE DESIGN
@media (max-width: 800px)
	// #diaporama
	// 	display none

	#articles
		width 100%
		li
			float left
			width 47%
			background-color #fff
			height auto
			margin-right 0
			margin-left 2%
			margin-bottom 20px
			a
				img
					width 100%
					margin auto
					height auto

		.infos
			display none
	
@media (max-width: 480px)
	#diaporama
		display none

	#articles
		li
			display block
			float none
			width 92%
			background-color #fff
			height auto
			margin auto
			margin-bottom 20px
	#makioandfloz
		.bt
			display none