html, body
  width 100%
  height width
  background-color #f0f0f0
  color #444

.clear 
  clear both

widthArticle = 250
marginArticle = 25
widthTitle = ( widthArticle * 3 + marginArticle * 2 )px
heightTitle = 300px

.header__bar
  position relative
  width 100%
  height 5px
  background linear-gradient(45deg, #fc4349, #008789,#004a61)

.title
  background-color #004a61
  width 100%
  height heightTitle
  color #fff

.title__background
  position absolute
  left 50%
  margin-left -(widthTitle/2) px
  background radial-gradient(ellipse farthest-side at bottom,#008789 0,#004a61 100%)
  width widthTitle
  height heightTitle

.title__content
  position relative
  width widthTitle
  height heightTitle
  top 70px
  margin 0 auto
  font 600 42px 'Open Sans'
  text-shadow 4px 2px 1px rgba(0,40,53,.75)

h1
  text-align center
  font 800 64px 'Lobster'
  display inline

  .small
    font-size 52px
    font-family 'Lobster'
    font-weight 100

.separator
  position relative
  top 4px
  background linear-gradient(0deg,#edf0f4, #dfe2e7)
  width 100%
  height 20px

.content
  width widthTitle
  margin 45px auto 0

.content__left
  position  relative
  float left
  width 80%

.presentation
  position relative
  color #717780

  h4 
    position relative
    z-index 1
    font-family 'Lobster'
    font-size 45px
    font-weight 300
    color #444

  .line
    position relative
    z-index 0
    width 100%
    height 1px
    background linear-gradient(45deg, #fc4349, #008789, #008789,#004a61, #f0f0f0)

.presentation__content
  margin-top 20px
  font 100 16px 'Open Sans'

.cnt-articles
  width 90%
  margin-top 40px

.article
  position relative
  width 100%
  height 100px
  margin-top 30px
  a
    color #444
    text-decoration none
    display block
    position relative
    width 100%
    height 100%

.article:nth-child( 3 )
  margin-right: 0

.article__left
  display inline-block
  width 100px
  height 100px
  position absolute
  left -120px
  img
    width 100%
    height 100%
    border-radius 50%

.article__right
  position relative
  display inline-block
  width 100%
  max-width 700px
  height 100%
  top 15px
  h3
    font 100 16px 'Open Sans'//'myriad-pro', 'Myriad Pro', 'MyriadPro'
    position relative
    line-height 18px
    color #717780

.article__title
  h2
    font 700 24px 'Lobster'
    position relative
    display inline
  h2.author
    font-size 12px
    display inline
    strong
      color #004a61
      font-size 14px

.keywords
  color #008789
  font 100 14px 'Open Sans'

.article__top__layer
  background linear-gradient(45deg, rgba( 68, 68, 68, .75 ), rgba( 68, 68, 68, 0 ) 60%)

.article__bottom 
  position relative
  display block
  padding-bottom 10px
  height 100px
  left 30px

.article__bottom__content
  position relative
  font normal 14px 'Open Sans'
  color #444
  margin-top 10px
  width 70%
  height 100px
  display inline-block

.bt
  position relative
  display inline-block
  bottom 0
  font normal 16px 'Lobster'
  color #008789
  border 1px solid #008789
  padding-top 5px
  padding-bottom 5px
  width 40%
  border-radius 8px

.content__right
  position relative
  float right
  width 20%
  top 188px
  h4
    font-size 28px
  .presentation__content
    font-size 14px

.cnt-links
  color #008789

.link
  margin-top 20px
  font normal 12px 'Open Sans'
  a
    color #444
    text-decoration none
    h4
      font normal 16px 'Lobster'
  .link__url
    color #008789

footer
  position relative
  margin-top 200px
  height 300px
  background-color #444
