.article--bring_christmas
	.article__title
		color #233b07
	.article__author
		color #477007
	.article__description
		background-color #477007

.article--article3
	.article__title
		color #2d0000
	.article__author
		color #9d7172
	.article__description
		background-color #9d7172
