html, body
  width 100%
  height width
  background-color #edf0f4

widthArticle = 250
marginArticle = 25
widthTitle = ( widthArticle * 3 + marginArticle * 2 )px
heightTitle = 150px

.title
  background-color #152946
  width 100%
  height heightTitle

h1
  background radial-gradient(ellipse farthest-side at bottom,#28446b 0,#152946 100%)
  color #fff
  text-align center
  font 800 52px/heightTitle 'Lobster'
  width widthTitle
  height heightTitle
  margin 0 auto
  text-shadow 4px 2px 1px rgba(0,0,0,.5)

  .small
    font-size 44px
    font-family 'Lobster'
    font-weight 100

.separator
  position relative
  top 4px
  background linear-gradient(0deg,#edf0f4, #dfe2e7)
  width 100%
  height 20px


.content
  width widthTitle
  margin 60px auto 0
  overflow hidden

.presentation
  position relative
  color #717780
  text-align center
  width 80%
  left 50%
  margin-left -40%

  h4 
    font-family 'myriad-pro', 'Myriad Pro', 'MyriadPro'
    font-size 18px
    font-weight 300

.cnt-article
  margin-top 60px

.article
  position relative
  width widthArticle px
  float left
  margin-right marginArticle px
  text-align center
  height 300px

  a
    text-decoration none

.article:nth-child( 3 )
  margin-right: 0

.article__top
  position relative
  display block
  height 150px

  img
    position absolute
    display block
    border-top-left-radius 8px
    border-top-right-radius 8px

.article__top__content
  position relative
  top 30%
  display block
  width 100%
  height 100%

  h2
    font 700 24px 'Open Sans'
    position relative
    color #fff
    text-shadow 4px 2px 1px rgba(0,0,0,.5)

  h3
    font 100 16px 'Open Sans'//'myriad-pro', 'Myriad Pro', 'MyriadPro'
    position relative
    color #fff

.article__top__layer
  // background-color rgba( 0, 0, 0, .55 )
  background-color rgba( 21, 41, 70, .55 )
  border-top-left-radius 8px
  border-top-right-radius 8px

.layer
  position absolute
  width 100%
  height 100%
  top 0
  left 0
