html, body
  width 100%
  height width

titleHeight = 300px

.title
  background-color #152946
  width 100%
  height titleHeight

h1
  color #fff
  text-align center
  font 800 76px/titleHeight 'Lobster'//'myriad-pro', 'Myriad Pro', 'MyriadPro'

  .small
    font-size 64px
    font-family 'Lobster'
    font-weight 100