#weekly_bar
	.title
		font normal 12px/30px 'Montserrat'
		background-color #323232
		color #fff
		padding-left 20px
	ul
		margin-top 1px
		height 70px
		overflow hidden
		li
			float left
			width 25%
			img
				width 100%
				height auto


// --------------------------------------------------------------------------- RESPONSIVE DESIGN
@media (max-width: 800px)
	#weekly_bar
		ul
			display none