include ../../includes/head

include ../../mixins/mixins

include ../../includes/weekly_bar

section#home
	.top
		#makioandfloz
			a#logo(href="/")
				h1
					img(src="img/global/logo.png", width="255", height="50", alt="Makio&Floz - Creative Developers")
			mixin bt( "ABOUT", "/about" )
			
article
	
	.preview
		h3 The killer title !

		.info
			.date.
				Date : 26.03.2013
			.author
				|Author : 
				a(href='http://makiopolis.com', title='More about Makio', target='_blank')
					|  Makio
		.separator

	.title
		.corner
			img(src='./img/articles/exemple/thumb.jpg', alt='The killer title !')
		h2.
			The killer title !


	content
		p.
			"Nous devons y consacrer autant de temps que celui dépensé pour entrer dans l'eurozone", juge ce prélat, réputé pour son sens aigu des affaires à la tête d'une Eglise qui est le premier propriétaire foncier de l'île méditerranéenne et l'un de ses grands acteurs économiques. "Avec de tels comportements, l'euro ne peut pas tenir, je ne dis pas qu'il va s'effondrer demain mais avec les cerveaux qu'ils ont à Bruxelles il est certain qu'à long terme il ne tiendra pas, et le mieux est de réfléchir au moyen d'y échapper", affirme-t-il au quotidien Realnews.
		p.
			Mgr Chrysostomos confirme aussi que son offre d'hypothéquer les biens de l'Eglise pour dégager des fonds pour l'Etat, présentée mercredi au président chypriote Nicos Anastasiades, reste valable. Le dignitaire orthodoxe impute par ailleurs à "l'amateurisme" du précédent président chypriote, le communiste Demetris Christofias, la responsabilité de la crise traversée par l'île, menacée de faillite par l'insolvabilité de ses banques.
		
		pre(class="language-coffeescript")
			code(class="language-coffeescript")
				| class Bouboup
				| 
				|	pseudos 			: ["Makio","Floz"]
				| 
				|	age 				: 25
				| 
				|	constructor:()->
				| 
				|		console.log "Yo 'dude"

		.share
			.box
				.twitter
					a.twitter-share-button(href='https://twitter.com/share', data-via='makio64', data-lang='fr', data-related='floz', data-hashtags='makioandfloz') Tweeter
					script
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				.separator
				.facebook
					.fb-like(data-send='false', data-layout='button_count', data-width='120', data-show-faces='false')
		img.big( src='./img/articles/exemple/001.jpg', alt='bouboup')

				
include ../../includes/footer

include ../../includes/scripts