extends /layouts/default

block style
  link(rel="stylesheet", href="css/index.css")

block content
  .title
    h1 M<span class="small">akio</span>&F<span class="small">loz</span>

  article
    h2= home.title
    - each article in articles
      div= article.path

