extends /layouts/default

block style
  link(rel="stylesheet", href="css/index.css")

block content
  header
    .header__bar

    .title
      .title__background
      .title__content
        .title__head We are <h1>M<span class="small">akio</span>&F<span class="small">loz</span></h1>,<br />
        .title__sub We love Art and Creative Technology.

    .separator

  .content
    .presentation
      h4 Blog posts
      .line
      .presentation__content.
        We talk mainly about technology, creativity and design.<br />
        Anyway our talks may also be about projects we did or other stuff.<br />
        Enjoy your read!

    ul.cnt-articles
      - each article in articles
        li.article
          a(href="#")
            span.article__top
              img(src="img/articles/#{article.path}/preview.jpg", width="100%", height="100%")
              span.article__top__layer.layer
              span.article__top__content
                h2= article.title
                h3= article.subtitle
            span.article__bottom
              span.article__bottom__content= article.description
              span.bt Read It

  footer




