body {
  width: 100%;
  background: #f7f7f7;
}
#main {
  margin: auto;
  width: 880px;
}
.bt {
  font: normal 10px "Montserrat";
  background-color: #323232;
  color: #fff;
  text-decoration: none;
  padding: 10px 12px 10px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.bt .icon {
  display: inline-block;
  background: transparent url("../img/global/bt_arrow_right.png");
  width: 9px;
  height: 5px;
  margin-right: 10px;
}
div .fb_reset {
  display: inline;
}
.clear {
  clear: both;
}
@media (max-width: 880px) {
  #main {
    width: 100%;
  }
}
#weekly_bar .title {
  font: normal 12px/30px 'Montserrat';
  background-color: #323232;
  color: #fff;
  padding-left: 20px;
}
#weekly_bar ul {
  margin-top: 1px;
  height: 70px;
  overflow: hidden;
}
#weekly_bar ul li {
  float: left;
  width: 25%;
}
#weekly_bar ul li img {
  width: 100%;
  height: auto;
}
@media (max-width: 800px) {
  #weekly_bar ul {
    display: none;
  }
}
#makioandfloz {
  display: block;
  width: 255px;
  margin: 40px auto;
}
#makioandfloz .bt {
  display: none;
  margin-top: 10px;
  float: right;
}
#logo {
  overflow: hidden;
  border-bottom: 1px solid #323232;
  color: #323232;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
  font: normal 52px "Squada One";
}
#diaporama {
  position: relative;
  margin: 50px auto;
  width: 504px;
  height: 240px;
  font: normal 10px "Montserrat";
}
#diaporama .shadow {
  position: absolute;
  background: transparent url("../img/global/home_diaporama_shadow.jpg");
  width: 646px;
  height: 81px;
  bottom: -5px;
  left: -75px;
}
#diaporama #slides {
  position: relative;
  height: 242px;
  background-color: #fff;
}
#diaporama #slides li {
  position: absolute;
  height: 200px;
  top: 2px;
  left: 2px;
}
#diaporama a {
  text-decoration: none;
  color: #323232;
  display: block;
}
#diaporama .content {
  background-color: #fff;
  overflow: hidden;
  padding: 7px 20px;
}
#diaporama .left,
#diaporama .right {
  float: left;
}
#diaporama .title {
  font-weight: bold;
  margin-top: 7px;
}
#diaporama .right {
  float: right;
}
#diaporama nav {
  text-align: center;
  margin-top: 20px;
}
#diaporama nav ul {
  display: inline-block;
  overflow: hidden;
}
#diaporama nav li {
  float: left;
  margin-right: 10px;
}
#diaporama nav li.activated a {
  background-color: 323232;
}
#diaporama nav a {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: #e0e0e0;
}
#articles {
  width: 800px;
  margin: auto;
  overflow: hidden;
}
#articles li {
  float: left;
  width: 240px;
  height: 238px;
  background-color: #fff;
  font: normal 10px "Montserrat";
  margin-bottom: 20px;
  margin-left: 20px;
}
#articles .content {
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #e0e0e0;
}
#articles .title {
  font-weight: bold;
  margin-bottom: 5px;
}
#articles .infos {
  padding: 13px 10px 10px 20px;
  overflow: hidden;
}
#articles .left {
  float: left;
}
#articles .right {
  float: right;
  border-left: 1px solid #e0e0e0;
  padding-left: 10px;
  margin-top: 5px;
}
@media (max-width: 800px) {
  #articles {
    width: 100%;
  }
  #articles li {
    float: left;
    width: 47%;
    background-color: #fff;
    height: auto;
    margin-right: 0;
    margin-left: 2%;
    margin-bottom: 20px;
  }
  #articles li a img {
    width: 100%;
    margin: auto;
    height: auto;
  }
  #articles .infos {
    display: none;
  }
}
@media (max-width: 480px) {
  #diaporama {
    display: none;
  }
  #articles li {
    display: block;
    float: none;
    width: 92%;
    background-color: #fff;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
  }
  #makioandfloz .bt {
    display: none;
  }
}
article {
  width: 780px;
  margin: 80px auto 10px auto;
  overflow: hidden;
}
article .preview {
  width: 760px;
  height: 40px;
  margin-left: 20px;
  border-bottom: 5px solid #323232;
  background: #fff;
  overflow: auto;
}
article .preview h3 {
  float: left;
  padding: 16px 0 0 16px;
  color: #323232;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
article .preview .info {
  float: right;
  height: 20px;
  width: 105px;
  margin: 8px 0 0 20px;
  color: #323232;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 12px;
}
article .preview .info a {
  color: #323232;
}
article .preview .info a:hover {
  color: #e0e0e0;
}
article .preview .separator {
  float: right;
  width: 1px;
  height: 15px;
  margin-top: 13px;
  background: #e0e0e0 url("../img/global/article_liseret.jpg") no-repeat;
}
article .title {
  overflow: auto;
}
article .title .corner {
  float: left;
  width: 260px;
  height: 90px;
  background: url("../img/global/article_corner.png") no-repeat bottom left;
}
article .title .corner img {
  width: 240px;
  height: 80px;
}
article .title h2 {
  display: block;
  height: 60px;
  background: #fff;
  padding-top: 20px;
  padding-left: 270px;
  color: #323232;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
article .share {
  text-align: left;
  height: 40px;
  background: url("../img/global/article_share_background.jpg") no-repeat top right;
}
article .share .box {
  float: right;
  width: 205px;
  height: 39px;
  margin-top: 1px;
  padding-left: 10px;
  overflow: hidden;
  background: #fff;
}
article .share .box .separator {
  float: left;
  width: 1px;
  height: 15px;
  margin-top: 13px;
  margin-left: 5px;
  margin-right: 9px;
  background: #e0e0e0 url("../img/global/article_liseret.jpg") no-repeat;
}
article .share .box .facebook {
  margin-top: 10px;
  font-size: 1px;
  display: inline-block;
  float: left;
  width: 90px;
  overflow: hidden;
}
article .share .box .twitter {
  font-size: 1px;
  margin-top: 10px;
  float: left;
  width: 90px;
  overflow: hidden;
}
article content {
  display: block;
  width: 760px;
  margin: -10px 0 0 20px;
  padding: 40px 0;
  background: #fff;
  text-align: center;
}
article content p {
  padding: 0 40px 20px 40px;
  color: #323232;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.5em;
  text-align: left;
}
article content img {
  margin: auto;
  border: 3px solid #f7f7f7;
}
article content img.big {
  max-width: 100%;
  height: auto;
  border-left-width: 0;
  border-right-width: 0;
}
@media (max-width: 780px) {
  article {
    background: #fff;
    width: 100%;
  }
  article .preview {
    width: 100%;
    margin: 0;
  }
  article .title .corner {
    width: 240px;
    background: transparent;
  }
  article content {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  article .title .corner {
    width: 100%;
    height: auto;
    float: none;
  }
  article .title .corner img {
    width: 100%;
    height: auto;
  }
  article .title h2 {
    display: block;
    overflow: hidden;
    width: 80%;
    margin: auto;
    padding: 20px 0 0;
    text-align: center;
    height: auto;
  }
}
@media (max-width: 320px) {
  article {
    width: 320px;
  }
  article .preview {
    width: 320px;
  }
  article .title .corner {
    width: 320px;
  }
  article .title .corner img {
    width: 320px;
  }
  article .title h2 {
    width: 320px;
  }
  article content {
    width: 320px;
  }
}
footer {
  position: relative;
  border-top: 5px solid #323232;
  margin-top: 40px;
  height: 250px;
  font: normal 10px "Montserrat";
}
footer .content {
  position: relative;
  width: 880px;
  margin: 0 auto;
  overflow: hidden;
}
footer a {
  text-decoration: none;
  color: #000;
}
footer .title {
  font: normal 24px "Squada One";
  margin-bottom: 20px;
  margin-top: 15px;
}
footer .twitter,
footer .mail {
  display: block;
}
footer .icon,
footer .name {
  display: inline-block;
}
footer .icon {
  margin-right: 5px;
}
footer .twitter {
  width: 100%;
}
footer .twitter .icon {
  background: transparent url("../img/global/footer_icon_twitter.png");
  width: 10px;
  height: 9px;
}
footer .mail {
  width: 100%;
}
footer .mail .icon {
  background: transparent url("../img/global/bt_arrow_right.png");
  width: 9px;
  height: 5px;
}
#authors {
  overflow: hidden;
  float: left;
  padding-right: 20px;
  height: 100%;
  border-right: 1px solid #e0e0e0;
}
#authors .bot {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#authors .citation {
  text-transform: uppercase;
  margin-top: 20px;
  padding-bottom: 20px;
  color: #a4a3a3;
  border-bottom: 1px solid #e0e0e0;
}
#makio,
#floz {
  float: left;
  width: 200px;
}
#makio {
  margin-right: 20px;
}
#latest_article {
  float: left;
  width: 400px;
  position: relative;
  overflow: hidden;
  padding-left: 20px;
}
#latest_article .title {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}
#latest_article>.left,
#latest_article>.right {
  float: left;
}
#latest_article>.left {
  width: 200px;
}
#latest_article>.right {
  width: 181px;
  height: 166px;
  margin-top: 61px;
  margin-left: 19px;
}
#latest_article .description {
  height: 115px;
}
#latest_article .infos {
  height: 30px;
}
#latest_article .infos .left {
  float: left;
  width: 110px;
}
#latest_article .infos .right {
  float: right;
  border-left: 1px solid #e0e0e0;
  padding-left: 10px;
  margin-top: 7px;
}
@media (max-width: 880px) {
  footer {
    height: 280px;
  }
  footer .content {
    width: 100%;
  }
  #authors {
    float: none;
    width: 100%;
  }
  #authors img {
    width: 100%;
    height: auto;
  }
  #makio,
  #floz {
    float: left;
    width: 46%;
  }
  #makio {
    margin-right: 3%;
    margin-left: 3%;
  }
  #latest_article {
    display: none;
  }
}
